.timeline {
    display: flex;
    flex-direction: column;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.timeline-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5rem;
}

.timeline-item .icon {
    font-size: 1.5rem;
    z-index: 1;
    background-color: white; /* Para que se vea por encima de la línea conectora */
}

.timeline-item .icon.completed {
    color: #28a745; /* Verde */
}

.timeline-item .icon.current {
    color: #007bff; /* Azul */
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.timeline-item .icon.pending {
    color: #ced4da; /* Gris claro */
}

.timeline-connector {
    width: 2px;
    background-color: #e9ecef;
    flex-grow: 1;
    min-height: 50px;
}

.timeline-content {
    padding-bottom: 2rem;
    padding-top: 0.2rem;
}

.timeline-content .step-name {
    font-weight: 600;
    color: #495057;
}

.timeline-item.current .step-name {
    color: #007bff;
}

.timeline-content .step-date {
    display: block;
    font-size: 0.8rem;
    color: #6c757d;
    margin-top: 0.2rem;
}